{% extends "main.html" %}

{%block title%}
Expends
{%endblock%}

{%block content%}
<h1>Expends</h1>
    <a href="{% url 'result' %}">Show Table result</a>
 {% if context.message %}
        <div style="color:green">{{ success_message }}</div>
    {% endif %}

<form method="post" action="{% url 'submit_expense' %}" novalidate>
{%csrf_token%}

<div>
    <label for="id_title">Title:</label>
            {{ form.title }}
            {% for error in form.title.errors %}
                <div style="color:red">{{ error }}</div>
            {% endfor %}
</div>

<div>
    <label for="id_date">Date:</label>
            {{ form.date }}
            {% for error in form.date.errors %}
                <div style="color:red">{{ error }}</div>
            {% endfor %}
</div>

<div>
    <label for="id_amount">Amount:</label>
            {{ form.amount }}
            {% for error in form.amount.errors %}
                <div style="color:red">{{ error }}</div>
            {% endfor %}
</div>

<div>
    <label for="id_title">User:</label>
            {{ form.user }}
            {% for error in form.User.errors %}
                <div style="color:red">{{ error }}</div>
            {% endfor %}
</div>

<button type="submit">Submit </button>

</form>
{%endblock%}